
.fb-1 {
    display: flex;
    align-items: flex-end;
}

.favorite-conteiner {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.favorite-item {
    display: flex;
    gap: 10px;
    background-color: var(--black-4);
    border: 1px solid var(--border-color-dark);
    border-radius: 15px;
    margin: 0px;
    padding: 10px;
    position: relative;
}

.favorite-item-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.favorite-img {
    border-radius: 10px;
    object-fit: cover;
    height: auto;
    min-width: 150px;
    max-width: 150px;
}

.favorite-body {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.favorite-titles {
    display: flex;
    gap: 10px;
    font-size: 28px;
    flex-wrap: wrap;
}

.favorite-title {
    color: var(--blue-1);
}

.favorite-item-info {
    display: flex;
    gap: 10px;
    font-size: 20px;
}

.favorite-item-year,
.favorite-item-duration,
.favorite-item-age,
.favorite-item-info {
    color: var(--span-text-dark);
}

.favorite-item-description {
    background-color: var(--black-5);
    border: 1px solid var(--border-color-dark);
    border-radius: 10px;
    padding: 5px 10px;
    overflow: hidden;
    overflow-y: scroll;
    text-overflow: ellipsis;
    display: flex;
    width: 100%;
    max-height: 110px;
    margin-top: 10px;
    text-align: justify;
}

.favorite-absolution {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.favorite-item-rating,
.favorite-item-type {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: var(--black-5);
    padding: 10px;
    border: 1px solid var(--border-color-dark);
    border-radius: 10px;
    height: 40px;
}

.icon-star {
    min-width: 24px;
}

.favorite-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.favorite-item-bottom {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

@media (max-width: 480px) {
    .favorite-conteiner {
        gap: 5px;
    }
    
    .favorite-body {
        font-size: 16px;
    }

    .favorite-titles {
        font-size: 22px;
    }

    .favorite-item-info {
        font-size: 16px;
    }

    .favorite-titles {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    
    .favorite-titles span {
        display: none;
    }

    .favorite-img {
        height: auto;
        min-width: 70px;
        max-width: 70px;
    }

    .fb-1 {
        position: absolute;
        bottom: 10px;
        left: 10px;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    .favorite-conteiner {
        gap: 5px;
    }

    .favorite-body {
        font-size: 18px;
    }

    .favorite-titles {
        font-size: 24px;
    }

    .favorite-item-info {
        font-size: 18px;
    }

    .favorite-titles {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    
    .favorite-titles span {
        display: none;
    }

    .favorite-img {
        height: auto;
        min-width: 100px;
        max-width: 100px;
    }

    .favorite-item-description {
        max-height: 70px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .favorite-body {
        font-size: 18px;
    }

    .favorite-titles {
        font-size: 24px;
    }
    
    .favorite-item-info {
        font-size: 18px;
    }

    .favorite-img {
        height: auto;
        min-width: 150px;
        max-width: 150px;
    }

    .favorite-item-description {
        max-height: 80px;
    }
}