.all-content.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    max-width: 1000px;
}

.content-movie {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid var(--border-color-dark);
    border-radius: 15px;
    background-color: var(--black-4);
    padding: 10px;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
}

.content-movie::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 15px;
    border: 2px solid transparent;
    background-image: linear-gradient(var(--black-header), var(--black-header)), 
        linear-gradient(45deg, #de6161, #bb61de, #2657eb, #23a86a, #3899b9, #6f86d6, #543dbb);
    background-origin: border-box;
    background-clip: content-box, border-box;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.3s;
    background-size: 700% 700%;
}

.content-movie:hover::before {
    opacity: 1;
    animation: gradient 8s ease infinite;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.content {
    display: flex;
    flex: 1 1 auto;
    gap: 15px;
    max-width: 1300px;
    margin: auto;
}

.content-cover {
    position: relative;
    width: 100%;
}

.content-icon {
    display: flex;
}

.content-label-title {
    font-size: 28px;
}

.content-header-title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: -15px -15px 0 -15px;
    padding: 15px;
    border-radius: 20px 20px 0 0;
    justify-content: space-between;
    gap: 10px;
    background-color: var(--black-header);
    backdrop-filter: blur(20px);
    border-bottom: 1px solid var(--border-color-dark);
    z-index: 10;
}

.sort {
    display: flex;
    gap: 10px;
    
}

.content-text-sort {
    display: flex;
    align-items: center;
    text-wrap: nowrap;
    color: var(--white-text-dark);
}

.select-item {
    padding: 5px 15px;
}

@media (max-width: 480px) {
    .content-header-title {
        margin: -5px -5px 0 -5px;
        padding: 10px;
    }

    .content-main {
        padding: 5px;
    }
    
    .sort {
        flex-wrap: wrap;    
    }

    .content-image {
        width: 100%;
        height: 250px;
    }

    .content-link {
        width: 135px;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    .content-header-title {
        margin: -5px -5px 0 -5px;
        padding: 10px;
    }

    .content-main {
        padding: 5px;
    }
    
    .sort {
        flex-wrap: wrap;    
    }

    .content-image {
        width: 100%;
    }

    .content-link {
        width: 150px;
    }
}

@media (max-width: 768px) {
    .content {
        flex-wrap: wrap-reverse;
    }
}